body {
  font-size: 1.15em;
  text-align: justify;
  font-family: "Lato", sans-serif;
}

#title {
  color: rgb(11, 88, 4);
  font-family: "PT Sans", sans-serif;
}

.subtitle {
  color: rgb(134, 104, 19);
  font-family: "PT Sans", sans-serif;
}

.link {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

#service-image {
  height: 300px;
  width: 60%;
  border: 6px solid brown;
}

#about-us-image {
  height: 300px;
  width: 50%;
  border: 6px solid brown;
  padding: 10px;
  margin: 40px;
  float: right;
}

.container {
  background-color: rgb(220, 241, 220);
  margin: 10px;
  height: 300px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-item {
  background: green;
  color: white;
  font-size: 25px;
  text-align: Center;
  width: 100px;
  line-height: 50px;
  margin: 10px;
}

.grid-container {
  background-color: rgb(220, 241, 220);
  margin: 10 px;
  height: 500px;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px;
}

.submit-button {
  margin: 20px 10px;
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: rgb(89, 150, 255);
  transform: translate(50px, 30px);
  transition: background-color 300s ease-in-out;
}

.submit-button:hover {
  background: rgb(115, 157, 230);
  padding: 20px 30px;
}

@keyframes red-to-black {
  from {
    back: red;
  }
  to {
  }
}
