/* 
Black: #0b0c10;
Greyish: #1f2833;
Light Grey: #c5c6c7;
Turquoise: #66fcf1;
Teal: #45a29e;

 */
body {
  font-family: "Comic Neue", cursive;
  background-color: #0b0c10;
}

h1 {
  color: #66fcf1;
}
