/* 
Black: #0b0c10;
Greyish: #1f2833;
Light Grey: #c5c6c7;
Turquoise: #66fcf1;
Teal: #45a29e;

 */
body {
  font-family: "Comic Neue", cursive;
  /* background-color: #0b0c10; */
}
.main {
  display: grid;
  grid-template-columns: 15% 85%;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #1f2833;
  padding: 20px;
  padding-top: 300px;
}

.sidenav a {
  color: #fff;
  text-shadow: 2px 2px 5px #66fcf1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  transition: transform 1.5s;
}

.sidenav a:hover {
  color: #66fcf1;
  transform: rotate(360deg);
}

h1 {
  padding-top: 350px;
}
