$text-color: #fff;
$accent-color: #0b2447;
$secondary-color:  #19376d;
$bg-color: #04152d;
$tertiary-color: #576cbc;
$hover: #00b7ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


body {
  background-color: $bg-color;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: $text-color;
  padding-top:4rem;
  padding-bottom: 2rem;
}

.logo a, .resume a {
  color: $text-color;
  text-decoration: none;
}

nav a {
  position: relative;
  font-size: 1.2rem;
  color: $text-color;
  text-decoration: none;
  padding: 6px 40px;
  transition: .5s;
}

nav a:hover {
  color: $hover
}

nav a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid $hover;
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

nav a.active span {
  transform: scale(1) translateY(0);
  opacity: 1;
}


