$bg-color: #000;
$secondary-color: #231704;
$accent-color: #cf1b1b;
$text-color: #fff;
$text-color-dark: #000;
$opacity: 0.4;
$color-with-opacity: rgba($accent-color, $opacity);

@mixin heading {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;
  color: $text-color;
}

@mixin horizontal-line {
  border: none;
  height: 5px;
  background-color: $accent-color;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.spacer {
  height: 20vh;
}


.hamburger-nav,
.menu {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: $text-color;
  transition: 0.5s;
  background-color: $bg-color;
  padding: 20px 0;
}

header.hide {
  transform: translateY(-100%);
}

.logo img {
  width: 80px;
  margin-left: 30px;
}

.light-mode {
  color: $text-color;
}

header.sticky {
  background-color: #fff;
}

.toggle {
  width: 80px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 30px;
}

.fa-sun {
  cursor: pointer;
}

.fa-sun:hover {
  color: $accent-color;
}

.home-icon {
  color: $text-color;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 500px;

  li a {
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    position: relative;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:hover {
    width: 100px;
    //box-shadow: 0px 0px 12px #fff;
  }

  li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, $bg-color, $secondary-color);
    opacity: 0;
    transition: 0.5s;
  }

  li:hover::before {
    opacity: 1;
  }

  li ion-icon {
    font-size: 1.5rem;
    transition: 0.5s;
    transition-delay: 0.25s;
  }

  li:hover ion-icon {
    transform: scale(0);
    transition-delay: 0s;
  }

  li span {
    position: absolute;
  }

  .title {
    font-size: 1.1rem;
    transform: scale(0);
    transition: 0.3s;
    transition-delay: 0s;
  }

  li:hover .title {
    transform: scale(1);
    transition-delay: 0.5s;
    color: $accent-color;
  }
}

.social-icons {
  a {
    text-decoration: none;
    color: $text-color;
    margin-right: 20px;
  }

  button {
    background: $accent-color;
    height: 35px;
    width: 100px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
  }

  a:hover {
    color: $accent-color;
    transition: 0.5s;
    font-size: 1.8rem;
  }

  button:hover {
    width: 110px;
    height: 40px;
    transition: 0.5s;
    font-size: 20px;
  }
}

.icon.active {
  color: $accent-color;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: $text-color;
  font-size: 1.5rem;
  margin: 0 25vw;

  .name {
    font-size: 4rem;
    color: $accent-color;
  }
}

.icons a {
  font-size: 25px;
  color: $text-color;
  background-color: #000;
  line-height: 60px;
  margin: 0 15px;
  border-radius: 50%;
  text-decoration: none;
}

//ABOUT SECTION

.about-section {
  h2 {
    @include heading;
  }

  hr {
    @include horizontal-line;
    width: 150px;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 50px;
    margin-top: 100px;
    width: 70%;
  }

  img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px #fff;
    margin: 0;
  }

  p {
    color: $text-color;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1.5px;
  }
}

.skills-section {
  color: $text-color;
  margin-top: 100px;
  h3 {
    @include heading;
  }

  hr {
    @include horizontal-line;
    width: 100px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 24px;
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-left: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fa-brands {
    font-size: 4rem;
  }
}

//PORTFOLIO
.portfolio-section {
  h2 {
    @include heading;
  }

  hr {
    @include horizontal-line;
    width: 100px;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// .project {
//   border: 1px solid white;
//   height: 500px;
//   width: 500px;
//   margin: 20px;
//   overflow: hidden;
// }

.project { 
  width: 700px;
  position: relative;
  margin-bottom: 50px;
}

.project-image {
 width: 100%;
 display: block;
 margin: auto;
}



.content {
  color: #fff;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover {
  opacity: 1;
}

.content h1 {
  font-size: 45px;
  color: $accent-color;
  margin-bottom: 15px;
}

.content p {
  font-size: 19px;
  color: #fff;
}

.content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content:hover > *{
  transform: translateY(0px);
}

.content-buttons {
  display: flex;
  gap: 10px;

  a button {
    cursor: pointer;
    height: 30px;
    font-weight: bold;
  }
}

//CONTACT SECTION
.contact-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  h2 {
    @include heading;
  }

  hr {
    @include horizontal-line;
    width: 200px;
  }

  .contact-inputs {
    width: 400px;
    height: 50px;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
  }

  .text-area {
    height: 140px;
    padding: 15px;
  }

  .contact-inputs:focus {
    border: 3px solid $accent-color;
  }

  .contact-inputs::placeholder {
    font-size: 16px;
    text-transform: uppercase;
  }

  button {
    align-self: center;
    width: 150px;
    padding: 15px;
    font-size: 16px;
    gap: 10px;
    cursor: pointer;
    background-color: $accent-color;
    font-size: 18px;
    text-transform: uppercase;
  }
}

body.light {
  background: #fff;

  h2,
  p,
  ul,
  li,
  h3 {
    color: $text-color-dark;
  }

  li {
    background-color: #fff;

    a {
      color: $text-color-dark;
    }
  }

  li::before {
    background: #fff;
  }
  header {
    background-color: #fff;
    color: $text-color-dark;
  }

  .social-icons .fa-brands {
    color: $text-color-dark;
  }

  .navbar li {
    box-shadow: 0px 0px 12px #000;
  }
  .project {
    border: 1px solid #000;
  }
}

.openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.closeMenu,
.icons i {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

//RESPONSIVE NAV
.nav-icons {
  position: absolute;
  right: 5%;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in-out;
}

.close-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
      width: 80px;
      margin-left: 0;
    }

    .open-icon {
      width: 80px;
    }
  }

  .close-icon {
    display: none;
  }

  .navbar {
    display: none;
  }

  .menu {
    display: block;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .hamburger-nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
    background-color: $bg-color;

    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: $text-color;
        font-size: 1.5rem;
        margin: 40px 20px;
      }

      a:hover {
        color: $accent-color;
      }
    }
  }

  .toggle {
    margin-right: 0;
  }

  .intro {
    font-size: 1rem;

    .name {
      font-size: 2.5rem;
    }
  }

  #about {
    display: flex;
    flex-direction: column;
    h2,
    h3 {
      font-size: 32px;
    }
  }

  .profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    p {
      text-align: start;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    img {
      margin-left: 0;
    }
  }

  .skills-section {
    margin-top: 0;

    ul {
      width: 80%;
    }

    .fa-brands {
      font-size: 2.5rem;
    }

    span {
      font-size: 1.2rem;
    }

    .tech {
      font-size: 1.2rem;
    }
  }

  #portfolio h2,
  #contact h2 {
    font-size: 32px;
  }

  .project-section {
    display: flex;
    flex-direction: column;
  }

  .contact-section .contact-inputs {
    width: 350px;
  }
}
