html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  color: #ff3c78;
  margin-left: 100px;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 5px 10px 10px #461121;
}
.header .navigation {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 100px;
}
.header .navigation a {
  text-decoration: none;
  color: #fff;
  margin-left: 100px;
  letter-spacing: 0.5px;
  box-shadow: 5px 10px 10px #461121;
}
.header .navigation a:hover {
  color: #ff3c78;
}

.active {
  color: #ff3c78;
}

#home {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
}
.home-section .intro-text {
  color: #fff;
  font-size: 30px;
}
.home-section .name {
  color: #ff3c78;
  font-weight: 700;
  font-size: 40px;
  box-shadow: 5px 10px 10px #461121;
}

.intro-links {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.intro-links .social-icon {
  margin-right: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  color: #ff3c78;
  transition: 0.6s, ease;
  transition-property: background-color, color;
}
.intro-links .social-icon:hover {
  background-color: #ff3c78;
  color: #000;
}
.intro-links .icon {
  line-height: 1.4;
}
.intro-links .resume {
  font-size: 16px;
  border: 2px solid #ff3c78;
  display: inline-block;
  padding: 8px 15px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  transition: 0.6s, ease;
  transition-property: background-color, color;
}
.intro-links .resume:hover {
  background-color: #ff3c78;
}

.about-section {
  color: #000;
  font-size: 18px;
  max-width: 1200px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: justify;
  line-height: 1.8;
}
.about-section .diploma {
  font-weight: 700;
}
.about-section .about-me {
  display: flex;
  justify-content: center;
}
.about-section h2 {
  text-align: center;
  box-shadow: 3px 3px 3px #686868;
  width: 20%;
}
.about-section p {
  font-size: larger;
}
.about-section .tech-section {
  margin-top: 80px;
}
.about-section .tech-section h3 {
  text-align: center;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tech-stack li {
  list-style: none;
  padding: 10px 15px;
  border: 2px solid #ff3c78;
  margin: 10px;
  font-weight: 700;
  box-shadow: 2px 2px 2px #686868;
  border-radius: 5px;
}

.contact {
  background-color: #1d1c1c;
  color: #fff;
  text-align: center;
}
.contact .contact-section {
  font-size: 18px;
  max-width: 1200px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 1px;
}
.contact h2 {
  text-align: center;
  box-shadow: 3px 3px 3px #686868;
  width: 15%;
}
.contact .contact-text {
  display: flex;
  justify-content: center;
}
.contact .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact .contact-info .info {
  border: 2px solid #ff3c78;
  box-shadow: 5px 10px 10px #461121;
  margin: 20px;
  padding: 40px;
  width: 300px;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 1.8;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */