.my-website {
  animation-name: fade-in;
  animation-duration: 2s;
}

.main {
  animation-name: fade-in;
  animation-duration: 2s;
}

body {
  font-family: "Roboto", sans-serif;
}

.top-row {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 168, 97);
  height: 200px;
  color: white;
}

.subtitle > h1,
h4 {
  margin: initial;
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7b7b7b;
  color: white;
  height: 30px;
}

.menu > span {
  margin: 10px;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
}

.main > h2,
h3,
h4,
p {
  margin: 10px;
}

.left-column {
  background-color: rgb(207, 206, 206);
}

.right-column {
  background-color: rgb(236, 232, 226);
}

.about-me-description {
  background-color: gray;
  height: 240px;
  margin: 10px;
  transition: 0.5s;
}

.about-me-description:hover {
  height: 350px;
}

.more-text {
  background-color: gray;
  margin: 10px;
  height: 75px;
}

.title-heading {
  background-color: gray;
  height: 400px;
  margin: 10px;
  transition: 0.5s;
}

.title-heading:hover {
  height: 300px;
}

.footer {
  background-color: rgb(180, 180, 180);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
